body {
  background-color: rgb(49, 49, 49);
  color: white;
  font-family: Arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 160px;
  text-decoration-line: underline;
}

.move-icon {
  height: 50px;
}

.move-button {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 3px solid rgb(12, 245, 245);

  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 50px;
}

.move-button:active {
  border-color: rgb(110, 11, 11);
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 90px;
}

.thingi {
  margin-left: 90px;
}

.score {
  margin-top: 60px;
  margin-left: 90px;
}

.reset-button {
  background-color: rgb(81, 179, 62);
  border-style: solid;
  margin-left: 90px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: rgba(215, 203, 203, 0.396);
  color: wheat;
  font-weight: bold;
  padding: 3px 5px 3px 5px;
}

.reset-button:hover {
  opacity: 0.8;
}

.reset-button:active {
  opacity: 0.9;
  background-color: rgb(113, 28, 28);
  border-color: rgba(181, 72, 72, 0.548);
  color: wheat;
}

.autoPlay {
  background-color: rgb(81, 179, 62);
  border-style: solid;
  margin-left: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-color: rgba(215, 203, 203, 0.396);
  font-weight: bold;
  color: wheat;
  padding: 3px 5px 3px 5px;
}

.autoPlay:active {
  opacity: 0.9;
  background-color: rgb(113, 28, 28);
  border-color: rgba(181, 72, 72, 0.548);
  color: wheat;
}
.autoPlay:hover {
  opacity: 0.8;
}
